@font-face {
    font-family: aldrich;
    src: url(font/Aldrich-Regular.ttf);
}
@font-face {
    font-family: alfa;
    src: url(font/AlfaSlabOne-Regular.ttf);
}
body{
    height: 100px;
    width: 1700px
}
.p1{
    height: 300px;
    width: 500px;
    position:relative;
    left: 10vw;
    top: 0vw;
    background-color: white;
    text-align: left;
    z-index: 20;
}
.and{
    padding: 1.5vw 2vw;
    font-family: aldrich;
}
.arrested{
    color: #941414;
}
.implacable{
    color: #941414;
}
.p2{
    height: 180px;
    width: 400px;
    position:relative;
    left: 60vw;
    top: 1vw;
    background-color: white;
    text-align: left;
    z-index: 20;
    display:none;
}
.then{
    padding: 1vw 2vw;
    font-family: aldrich;
}
.countless{
    color: #941414;
}
.p3{
    height: 230px;
    width: 480px;
    position:relative;
    left: 17vw;
    top: -8vw;
    background-color: #941414;
    text-align: left;
    display: none;
}
.went{
    height: 210px;
    width: 435px;
    position:relative;
    padding: 1vw 2vw;
    color: white;
    text-align: left;
    z-index: 20;
}
.p4{
    height: 360px;
    width: 480px;
    position:relative;
    left: 84vw;
    top: -52vw;
    background-color: white;
    text-align: left;
    z-index: 20;
    display: none;
}
.secret{
    color: #941414;
}
.in{
    padding: 1vw 2vw;
    font-family: aldrich;
}
.p5{
    height: 330px;
    width: 400px;
    position:relative;
    left: 0vw;
    top: -34vw;
    background-color: white;
    text-align: left;
    z-index: 20;
    display:none;
}
.sat{
    padding: 1vw 1.5vw;
    font-family: aldrich;
}
.senseless{
    color: #941414;
}
.p6{
    height: 100px;
    width: 600px;
    position:relative;
    left: 45vw;
    top: -60vw;
    background-color: white;
    text-align: left;
    z-index: 20;
    display:none;
}
.ten{
    padding: 1vw 2vw;
    font-family: aldrich;
}
.p7{
    height: 265px;
    width: 450px;
    position:relative;
    left: 73vw;
    top: -59vw;
    background-color: #941414;
    text-align: left;
    display:none;
}
.timorous{
    height: 210px;
    width: 410px;
    position:relative;
    padding: 1vw 2vw;
    color: white;
    text-align: left;
    z-index: 20;
}
.p8{
    height: 230px;
    width: 300px;
    position:relative;
    left: 55vw;
    top: -60vw;
    background-color: white;
    text-align: left;
    z-index: 20;
    display:none;
}
.carried{
    padding: 1vw 2vw;
    font-family: aldrich;
}
.p9{
    height: 230px;
    width: 350px;
    position:relative;
    left: 93vw;
    top: -70vw;
    background-color: white;
    text-align: left;
    z-index: 20;
    display:none;
}
.going{
    padding: 1vw 2vw;
    font-family: aldrich;
}
.p10{
    height: 240px;
    width: 480px;
    position:relative;
    left: 51.5vw;
    top: -75vw;
    background-color: #941414;
    text-align: left;
    display:none;
}
.silently{
    height: 210px;
    width: 435px;
    position:relative;
    padding: 1vw 2vw;
    color: white;
    text-align: left;
    z-index: 20;
}
.p11{
    height: 110px;
    width: 480px;
    position:relative;
    left: 10vw;
    top: -100vw;
    background-color: white;
    text-align: left;
    z-index: 20;
    display:none;
}
.last{
    padding: 1vw 2vw;
    font-family: aldrich;
}
.p12{
    height: 400px;
    width: 300px;
    position:relative;
    left: 5vw;
    top: -97vw;
    background-color: white;
    text-align: left;
    z-index: 20;
    display:none;
}
.utter{
    padding: 1vw 2vw;
    font-family: aldrich;
}
.p13{
    height: 120px;
    width: 600px;
    position:relative;
    left: 30vw;
    top: -103vw;
    background-color: white;
    text-align: left;
    z-index: 20;
    display:none;
}
.foresee{
    padding: 1vw 2vw;
    font-family: aldrich;
}
.p14{
    height: 150px;
    width: 300px;
    position:relative;
    left: 80vw;
    top: -120vw;
    background-color: white;
    text-align: left;
    z-index: 20;
    display:none;
}
.thus{
    padding: 1vw 2vw;
    font-family: aldrich;
}
/*.background{
    position:fixed;
    height: 100vh;
    width: 100vw;
}*/
.chapter{
    color: black;
    font-family: aldrich;
    font-weight: bolder;
    font-size: 124px;
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top:-320px;
    position:fixed;
    z-index: 10;
}
.chapter1{
    display:fixed;
    /*justify-content: space-between;
    flex-direction: column;*/
}
.chapter1-2{
    display:fixed;
    /*justify-content: space-between;
    flex-direction: column;*/
}
.linkchapter1:link{
    color: black;
    text-decoration: none;
}
.linkchapter1:visited{
    color: black;
    text-decoration: none;
}
