@font-face {
    font-family: aldrich;
    src: url(font/Aldrich-Regular.ttf);
}
@font-face {
    font-family: alfa;
    src: url(font/AlfaSlabOne-Regular.ttf);
}
body{
    height: 800px;
    width: 2600px
}
.p1{
    height: 400px;
    width: 500px;
    position:relative;
    left: 10vw;
    top: 0vw;
    background-color: white;
    text-align: left;
}
.and{
    padding: 40px 20px;
}
.chapter{
    color: black;
    font-family: aldrich;
    font-weight: bolder;
    font-size: 140px;
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top:-420px;
}
.chapter1{
    display:flex;
    justify-content: space-between;
    flex-direction: column;
}
.chapter1-2{
    display:flex;
    justify-content: space-between;
    flex-direction: column;
}
.chapter1-3{
    display:flex;
    justify-content: space-between;
    flex-direction: column;
}
